body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #EEE;
}

.dl-item {
    cursor: pointer;
}

.dl-heading {
    margin-top: 20px;
    margin-bottom: -5px;
    margin-left: 10px;
}

.div-btn {
    margin-bottom: 10px;
    text-align: right;
}
